.btn-check {
  + .btn-outline-primary {
    &.btn-outline-primary-custom {
      font-size: 1rem;
      border-radius: 0.6em;
      box-shadow: 0.2rem 0.1rem 0.6rem rgba(var(--bs-dark-rgb), 0.08);
    }
  }

  &:checked + .btn {
    &.btn-outline-primary.btn-outline-primary-custom {
      color: var(--bs-primary);
      background-color: rgba(var(--bs-primary-rgb), 0.3);
    }
  }
  &:not(:checked) + .btn {
    color: var(--bs-dark);
    border: none;
  }
}

// .btn {
//   &.btn-outline-primary {
//     &.btn-outline-primary-custom {
//       border: none;
//     }
//   }
// }

.btn-check-custom {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
